@page
@model MovieScheduleApp.Pages.IndexModel
@{
    ViewBag.Title = "Главная";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@* <div class="movie-list">
    <h1>Список фильмов</h1>
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li class="movie-item">
                <h2>@movie.Title</h2>
                <ul class="sessions">
                    @foreach (var session in movie.Sessions)
                    {
                        <li>@session</li>
                    }
                </ul>
                <button onclick="location.href='/Info?id=@movie.Id'">Подробнее о фильме</button>
                <a href="/Edit?id=@movie.Id&title=@movie.Title&director=@movie.
                                    Director&genre=@movie.Genre&description=@movie.
                                    Description&sessions=@string.Join(',', movie.Sessions)">Редактировать</a>
                <a href="/Delete?id=@movie.Id&title=@movie.Title">Удалить</a>
            </li>
        }
    </ul>
</div> *@






@* <h1>Список фильмов</h1>

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Режиссер</th>
            <th>Стиль</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Genre</td>
                <td>
                    <a href="/Edit?id=@movie.Id&title=@movie.Title&director=@movie.Director&genre=@movie.Genre&description=@movie.Description&sessions=@string.Join(',', movie.Sessions)">Редактировать</a>
                    <a href="/Delete?id=@movie.Id&title=@movie.Title">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@









<h1>Список фильмов</h1>

<form method="get">
    <input type="text" name="searchQuery" placeholder="Введите данные для поиска" value="@Model.SearchQuery" />
    <button type="submit">Поиск</button>
    <br />
    <br />
    <br />

</form>

<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Режиссер</th>
            <th>Стиль</th>
            <th>Описание</th>
            <th>Сеансы</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.FilteredMovies)
        {
            <tr>
                <td><h2 style="text-align: center;">@movie.Title</h2></td>
                <td>@movie.Director &nbsp;&nbsp;&nbsp;</td>
                <td>@movie.Genre &nbsp;&nbsp;&nbsp;</td>
                <td>@movie.Description &nbsp;&nbsp;&nbsp;</td>
                <td>@string.Join(", ", movie.Sessions) &nbsp;&nbsp;&nbsp;</td>
                <td>
                    <button onclick="location.href='/Info?id=@movie.Id'">Подробнее о фильме</button><br />
                </td>
            </tr>
        }
    </tbody>
</table>