@page
@model MovieScheduleApp.Pages.InfoModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="movie-details">
    <h1>@Model.Movies.Title</h1>
    <p><b>Режиссер:</b> @Model.Movies.Director</p>
    <p><b>Жанр:</b> @Model.Movies.Genre</p>
    <p><b>Описание:</b> @Model.Movies.Description</p>
    <h2>Сеансы</h2>
    <ul>
        @foreach (var session in Model.Movies.Sessions)
        {
            <li>@session</li>
        }
    </ul>
    <button onclick="location.href='/Edit?id=@Model.Movies.Id'">Редактировать</button>
    <button onclick="location.href='/Delete'">Удалить</button>
    <button onclick="location.href='/'">Назад</button>
    <a asp-page="./Edit" asp-route-id="@Model.Movies.Id">Редактировать</a>
</div>